# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.dll
*.dylib
*.pyd

# Virtual environment
venv/
.env/
*.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and database files
*.log
*.sqlite3
*.db

# Python package files
dist/
build/
*.egg-info/
pip-wheel-metadata/

# Cache files
.cache/
.pytest_cache/
.mypy_cache/

# IDE settings
.vscode/
.idea/
*.swp
*.swo

# Environment variables and secrets
.env
*.pem
